:root{
    --navy: #192831;
    --gray: #324552;
    --light-gray: #dae2ea;
    --light-blue: #27aae1;
    --dark-blue: #1b75bc;
    --violet: #262262;
    --green-blue: #00a79d;
    --yellow-green: #8dc63f;
    }

/* 
@media only screen and (min-width: 400px){
    section {
        width: 40%;
    }
} */

section{
    height:70vh;
    width:80%;
    background-color:var(--navy);
    display:flex;
    flex-direction:column;
    align-items: center;
    justify-content: center;
    border-radius: 1rem;
    margin: 1rem auto;
    padding: 1rem;
    color: var(--light-gray);
}

.header{
    line-height: .5rem;
    height: 30vh;
}

h1{
    color: var(--green-blue);
    font-size: 2rem;
}

img{
    height: 10vh;
}

button{
    background-color: lightskyblue;
    border: none;
    border-radius: 1rem;
    padding: 1rem;
    font-size: 1rem;
    font-weight: 800;
}

.radar-container{
    height: 50vh;
}

.desc{
    height:50vh;
}